body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
    color: blue;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(44, 158, 40), rgb(157, 56, 224));
    padding: 8px 30px;
    color: whitesmoke;
    border-radius: 5px;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-unit{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
#stack-developer{
    border-left: 8px solid tomato;
}
#baby-developer{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
}